<h1>estoy en el edit</h1>


<%= form_tag "/vehicles/#{@vehicle.id}", method: "patch" do %>

  <%= text_field :vehicle, :driver, value: 'Driver'%>
  <%= text_field :vehicle, :make_and_model, value: 'Model'%>
  <%= date_field :vehicle, :year, value: 'Year'%>
  <%= text_field :vehicle, :transmission, value: 'Automatic'%>
  <%= number_field :vehicle, :door_count, value: 'Door'%>
  <%= text_field :vehicle, :color, value: 'Color'%>

  <%= submit_tag("Edit Vehicle") %>

<% end %>
