
<h1>Estos son mis Carros</h1>

<ul>
  <%@vehicles.each do |vehicle| %>
    <li>
      <%= link_to vehicle.make_and_model, "/vehicles/#{vehicle.id}" %>
      <p>Driver:  <%= vehicle.driver%> </p>
      <p>Model:  <%= vehicle.make_and_model%> </p>
      <p>Year : <%= vehicle.year%> </p>
      <p>Color:<%= vehicle.color%> </p>
      <p>Door : <%= vehicle.door_count%> </p>
      <p>Automatic: <%= vehicle.transmission%> </p>
    </li>
    <%= button_to "delete", "/vehicles/#{vehicle.id}", :method => :delete, confirm: "Do you wanna delete?" %>
    <%= button_to "Home", "/", :method => :get %>
<% end %>
</ul>
